# Write reqirements that pip should install in the form
# package==version
# like pyserial==3.5
pytransform3d==3.4.0
pyserial==3.5
pandas==1.5.3
numpy==1.24.2
open3d==0.17.0
mayavi==4.8.1
matplotlib==3.8.0
scipy==1.11.2
pyvista==0.42.0